html,
body,
main {
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    font-family: "Fira Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #00ffff; /* Neon cyan */
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #222222; /* Dark gray */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s;
    text-shadow: 0 0 5px #ffffff;
}

.card.flipped {
    background-color: #00ffff; /* Neon cyan for flipped cards */
    transform: rotateY(180deg);
}

#resetBtn {
    margin-top: 20px;
    color: #ffffff;
    background-color: #000000;
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#resetBtn:hover {
    background-color: #333333;
}
